body {
    background-color: rgb(219, 91, 31);
  }
  
  h1 {
    color: rgb(19, 151, 90);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
  }