body {
    background-color: rgb(186, 184, 108	);
  }
  
  h1 {
    color: rgb(19, 151, 90);
    text-align: center;
  }
  

  
  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
  }